name: Github CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - beta
      - master
permissions:
  contents: write 
  issues: write
  pull-requests: write
  id-token: write
jobs:
  build:
    uses: forge.yml
    secrets: inherit
